@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: rgb(246, 248, 253);
  font-family: "Montserrat";
}

.App {
  text-align: center;
  font-family: "Montserrat";
}

.container-appspellchecker {
  width: 150%;
  transform: translate(-18%);
  text-align: center;
  font-family: "Montserrat";
  padding: 4px;
  height: 600px;
}
.close-btn-container {
  position: relative;
  left: 94px;
  top: -28px;
}

/* HEADER */

.app-bar {
  background: rgb(204, 170, 218);
  background: linear-gradient(
    270deg,
    rgba(204, 170, 218, 1) 0%,
    rgba(107, 128, 215, 1) 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

.search-app-logo {
  width: 15%;
}

.App-title {
  width: 70%;
  display: flex;
  justify-content: start !important;
  flex-direction: column;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}

.App-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  line-height: 30px;
  text-align: left;
  margin: 0;
  color: rgb(255, 255, 255);
}

.App-title p {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

/* MAIN */
.button-send {
  margin: 15px !important;
  margin-left: 0px !important;
  color: white !important;
  border: 1px solid white !important;
  font-family: "Montserrat" !important;

}
.button-send:hover {
  border: 1px solid white !important;
}

#icon-copy-spellcheckerapp {
  display: inline-block;
  left: 436px;
  top: -80px;
}
textarea {
  color: black !important;
}
.start-text,
.end-text,
.highlighted-text-container {
  display: block;
  width: 70vw !important;
  border: none !important;
  border-radius: 5px !important;
  font-family: "Montserrat" !important;
}

.start-text .MuiInputBase-root {
  height: 200px;
  line-height: 1.5;
  background-color: rgba(245, 247, 250, 1);
}

.MuiInputBase-root,
.end-text,
.highlighted-text-container {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 247, 250);
  font-family: "Montserrat" !important;
}

.MuiFormLabel-root {
  font-family: "Montserrat" !important;
}

.MuiFormLabel-root.Mui-focused{
color:white !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink{
transform: translate(14px, -15px)
scale(0.75) !important;
color:white !important;
}

.MuiFormLabel-root
.end-text {
  text-align: left;
  box-sizing: border-box;
  padding: 18.5px;
  min-height: 230px;
  width: 100%;
}

.corrected-text {
  min-height: 180px;
  line-height: 2;
  overflow: auto !important;
  margin-top:20px;
}

.highlighted-text-container {
  text-align: left;
  box-sizing: border-box;
  padding: 18.5px;
  width: 100%;
  font-weight: 400;
  min-height: 100px !important;
  max-height: 600px !important;
  margin-right: 50px;
}

#outlined-basic {
  min-height: 180px !important;
  margin-top: 10px;
}

.grid-container {
  width: 150vw;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container-highlighted {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(204, 170, 218);
  background: linear-gradient(
    270deg,
    rgba(204, 170, 218, 1) 0%,
    rgba(107, 128, 215, 1) 100%
  );
}
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-bottom: 40px;
}
.o-form {
  margin-top: 20px;
  max-width: 90%;
}

.end-text-item p,
.highlighted-text p {
  display: block;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}

/* SEARCHFIELD */

.main-container {
  min-width: 105vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 !important;
}

.MuiTouchRipple-root {
  height: 30px !important;
}

.grid-container-header {
  padding-top: 30px;
  height: 150px;
}

.grid-container-skills {
  display: inline-block !important;
  margin: auto !important;
  text-align: center !important;
  width: 51% !important;

  /* flex-direction: column; */
}

.MuiFormControlLabel-label {
  font-family: "Montserrat" !important;
}

/* CHECKBOXES */

/* Benefit */
.ents-benefit-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #d1a9ec !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-benefit-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #d1a9ec !important;
}

.corrected-text .benefit {
  background-color: #d1a9ec !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Company */
.ents-company-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #f0a3e6 !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-company-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #f0a3e6 !important;
}

.corrected-text .company {
  background-color: #f0a3e6 !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Education */
.ents-education-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #fc9286 !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-education-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #fc9286  !important;
}

.corrected-text .educatn {
  background-color: #fc9286  !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Experience */
.ents-experience-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #f3b773!important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-experience-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #f3b773!important;
}

.corrected-text .experce {
  background-color: #f3b773!important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Language Skill */
.ents-langSkill-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #f7dd95 !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-langSkill-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #f7dd95 !important;
}

.corrected-text .langskl {
  background-color: #f7dd95 !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Occupation */
.ents-occuName-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #d0e6a5 !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-occuName-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #d0e6a5 !important;
}

.corrected-text .ocupnam {
  background-color: #d0e6a5 !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Proffesional Skill */
.ents-profSkill-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #86e3ce  !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-profSkill-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #86e3ce  !important;
}

.corrected-text .profskl {
  background-color: #86e3ce  !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

/* Soft Skill */
.ents-softSkill-label
  .MuiCheckbox-colorPrimary.Mui-checked
  + .MuiTypography-body1 {
  background-color: #98a8f0 !important;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.ents-softSkill-label .MuiCheckbox-colorPrimary.Mui-checked {
  color: #98a8f0 !important;
}

.corrected-text .softskl {
  background-color: #98a8f0 !important;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}


.annotation-name {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  font-size: 70%;
  color: rgb(0, 0, 0);
}

/* SEARCHFIELD */

.search-grid-container {
  padding: 120px 100px 25px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-title-wrapper {
  height: 50px;
  width: 100%;
  margin-top: 50px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.searchbar-wrapper {
  width: 70vw;
  display: inline-block;
  justify-content: center;
  align-items:center;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.input-searchfield{
 width: 95%;
}

.MuiOutlinedInput-notchedOutline {
  border:none !important;
}

.input-searchfield div{
border-radius: 25px;
height: 70%;
 }

.MuiPaper-rounded {
  display:flex;
  flex-direction: row;
}

.Mui-focused fieldset {
  border-color:rgba(255, 255, 255, 0.5) !important;
}

.clear-container {
  width:100%;
}